extends layout

block content
  h1= title
  p Welcome to #{title}
  h2 Welcome!  #{uname}
  h3 There are #{levelCount} levels
  <a href="/createLevel" class="btn btn-primary">Create my own level</a>
  <a href="/rank" class="btn btn-info">Go see the ranks</a>
  p ===
  form(name="selectLvls" action="/levels" method="post")
    <div class="lvls">
    .list-group
      
      - var list = [{l: 11, h: "head1", d: "dex1"}, {l: 12, h: "head2",d: "dex2"}];
      - var dss = ds;
      each item in list
        a.list-group-item(href="#")
          h4.list-group-item-heading #{item.h}
          p.list-group-item-text #{item.d}
      each item in dss
        a.list-group-item(href="/game?level="+item.id)
          h4.list-group-item-heading {item.id}
          p.list-group-item-text {item.data}
