extends layout

block content
  h1= title
  p Welcome to #{title}
  h2 Welcome!  #{uname}
  h3 There are #{levelCount} levels
  <a href="/createLevel" class="btn btn-primary">Create my own level</a>
  <a href="/rank" class="btn btn-info">Go see the ranks</a>
  p ===
  input(type="text", class="form-control", placeholder="id of level to be deleted", name = 'deleteId', id = 'deleteId')
  div(style="margin: 0 auto; display: table;")
      a(class='button', href='#', id='deleteButton') Delete
  script(type="text/javascript", src="http://code.jquery.com/jquery-1.7.1.min.js")
  script.
    $("#deleteButton").click(function(event) { // when save button clicked
      event.preventDefault(); //prevent page from reload
      var v = $('#deleteId').val();
      console.log(v);
      $.post( '/levels',{did: v}, function(data) { //
        alert(data); // alert the data
        location.reload();
      });
    });
  p ===
  form(name="selectLvls" action="/levels" method="post")
    <div class="lvls">
    .list-group
      - var dss = ds;
      each item in dss
        a.list-group-item(href="/game?level="+item.id)
          h4.list-group-item-heading #{item.title}
          p.list-group-item-text #{item.description} id = #{item.id} created by  #{item.author} creator:#{item.creator}
